body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a {
    text-decoration: dotted;   
}

a:active {
    color: aqua;
}

a:hover {
    color: yellow;
}

a:visited {
    color: grey;
}

#imgodc {
    width: 300px;
    height: 200px;
}

#School {
    width: 300px;
    height: 200px;
}